# Compiled source
*.exe

# Texts
*.txt

# Text books, slildes, videos
*.pdf
*.mp4
*.vtt
99_Text books
01_Divide and Conquer, Sorting and Searching, and Randomized Algorithms/01_Slides
01_Divide and Conquer, Sorting and Searching, and Randomized Algorithms/02_Videos
02_Graph Search, Shortest Paths, and Data Structures/01_Slides
02_Graph Search, Shortest Paths, and Data Structures/02_Videos
03_Greedy Algorithms, Minimum Spanning Trees, and Dynamic Programming/01_Slides
03_Greedy Algorithms, Minimum Spanning Trees, and Dynamic Programming/02_Videos